nvim/dein/repos/github.com/c9s
nvim/dein/repos/github.com/chriskempson
nvim/dein/repos/github.com/davidhalter
nvim/dein/repos/github.com/thinca
nvim/dein/repos/github.com/Vimjas
nvim/dein/repos/github.com/w0rp
nvim/dein/repos/github.com/Yggdroot
nvim/dein/repos/github.com/zchee
nvim/dein/repos/github.com/Shougo/denite.nvim
nvim/dein/repos/github.com/Shougo/deol.nvim
nvim/dein/repos/github.com/Shougo/deoplete.nvim
nvim/dein/repos/github.com/Shougo/vimproc.vim
